*{
margin : 0;
padding : 0;
border : 0;
overflow : hidden;
font-family : "Farro",sans-serif;
}
img.banner{
width : 100%;
height : 150px;
}
img.cup{
display : inline-block;
width : 35%;
height : 35%;
float : right;
animation : move 5s infinite;
}
img.splash{
display : inline-block;
width : 71%;
height : 41%;
z-index : -1;
position : absolute;
top : 35%;
left : 35%;
}
@keyframes move{
50% {transform : rotate(25deg);}
} 

div.text{
float : left;
color : #000000;
font-size : 15px;
padding : 15px 25px 0px;
display : inline-block;
}
h1{
color : #00704A;
font-size : 25px;
}